{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>{{ blog.title }}</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'lib/css/pure-release-0.5.0/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/pure-release-0.5.0/grids-responsive-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <hgroup>
                <h1 class="brand-title">{{ blog.title }}</h1>
                <h2 class="brand-tagline">{{ blog.tagline|default_if_none:"" }}</h1>
            </hgroup>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href={% url 'index' %}>Index</a>
                    </li>
                    {% if not active_user %}
                        <li class="nav-item">
                            <a class="pure-button" href={% url 'login' %}>Login</a>
                        </li>
                    {% endif %}
                    {% if is_admin %}
                        <li class="nav-item">
                            <a class="pure-button" href={% url 'blog_admin_update' %}>Settings</a>
                        </li>
                    {% endif %}
                    {% if is_admin %}
                        <li class="nav-item">
                            <a class="pure-button" href={% url 'article_admin_create' %}>Add article</a>
                        </li>
                    {% endif %}
                    {% if active_user %}
                        <li class="nav-item">
                            <a class="pure-button" href={% url 'logout' %}>Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
